diffusers==0.12.0
transformers==4.26.1
ftfy==6.1.1
accelerate==0.16.0
tensorboard==2.12.0
protobuf==3.20.3
tqdm
loguru
wandb
pyrender==0.1.45
clean-fid==0.1.35
opencv-python==4.6.0.66
scipy==1.9.3
trimesh==3.18.1
smplx==0.1.28
chumpy==0.70
git+https://github.com/nghorbani/human_body_prior.git
git+https://github.com/facebookresearch/detectron2.git
